{% extends "learning_logs/base.html" %}

{% block header %}
    <h2>Topics</h2>
{% endblock header %}

{% block content %}
    <div>
        <button type="button" class="btn btn-success btn-sm"
                onclick="location='{% url 'learning_logs:new_topic' %}'">
            <span class="glyphicon glyphicon-plus-sign"></span>
            New topic
        </button>
    </div>
    <br>

    <div class="list-group">
        {% for topic in topics %}
        <a class="list-group-item" href="{% url 'learning_logs:topic' topic.id %}">
            {{ topic.text }}
        </a>
        {% empty %}
        <a class="list-group-item" href="#">No topics have been added yet.</a>
        {% endfor %}
    </div>

{% endblock content %}